body {
  background-image: linear-gradient(to right, rgb(85, 0, 102), rgb(237, 140, 157));
  font-family: Arial, sans-serif;
}

.business-card {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
}

.profile-image {
  max-width: 70%;
  border-radius: 20px;
  margin-top: 15px;
  
}

p {
  margin: 5px 0px;
}

.full-name {
  color: rgb(20, 20, 20);
  font-size: 25px;
  margin: 25px 0px 25px;
}

.designation {
  color: rgb(83, 83, 83);
}

.company {
  color: rgb(145, 145, 145);
}

hr {
  margin: 25px 0px;
}

h2 {
  font-size: 20px;
}

.social-media {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 5px;
  color: rgb(85, 0, 102);
}

a:hover {
  color: rgb(128, 61, 141);
}

a:active {
  color: rgb(225, 134, 149);
}